### SSH SERVER LINKS ###
alias doc='ssh evgeny@doc.evgn.ru'                                              ## DOC
alias prh='ssh root@prh.su'                                                     ## PRH
alias evgn='ssh evgeny@evgn.ru'                                                 ## EVGN
alias cloud='ssh evgeny@cloud.kushnaren.co'                                     ## CLOUD
alias bot='ssh evgeny@bot.kushnaren.co'                                         ## BOT
alias nas='ssh -oKexAlgorithms=+diffie-hellman-group1-sha1 root@192.168.50.11'  ## NAS
alias wg='ssh evgeny@wg.kushnaren.co'                                           ## WG
alias kus='ssh evgeny@kushnaren.co'                                             ## KUS
alias ofc='ssh evgeny@office.evgn.ru'                                           ## OFC

### OPERATION ###
alias r="clear && archey -l retro && source ~/.zshrc"                           ## R - reset
alias e="exit"                                                                  ## E - exit
alias c="conda deactivate && conda deactivate && clear"                         ## C - clear && Conda deactivate

### SNIPPETS ###
alias chat="open -a Whatsapp && open -a Whatsapp2 && open -a 'Telegram Z' && open -a 'Telehram Z2'"

alias spd="speedtest && networkQuality"
alias upd='/Applications/MacUpdater.app/Contents/Resources/macupdater_client scan && /Applications/MacUpdater.app/Contents/Resources/macupdater_client update --force-quit-running-apps && cd ~ && bubu && softwareupdate -i -a && omz update'
alias lcl='colorls -lA --sd'
alias lc='colorls --sd'
alias lca='colorls -A --sd'
alias lcr='colorls --report --sd'
alias ycs3='aws s3 --endpoint-url=https://storage.yandexcloud.net'
alias duh='du -sh *'
alias ip='dig +short myip.opendns.com @resolver1.opendns.com'
alias ping5='ping -c5'
alias path='echo | pwd | pbcopy'
alias q='logout'
alias ..='cd ..'
alias t='tmuxinator'
alias dns='sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder'
alias sd='cd ~/invokeai/InvokeAI/ && conda activate invokeai && python scripts/invoke.py --web'
alias ccat='pygmentize -g -O style=github-dark,linenos=1'
alias getalias='wget -O ~/.aliases https://evgn.ru/za && r && print ALIASES UPDATED'
alias aliasls='ccat ~/.aliases | grep alias'
alias zshconfig='mate ~/.zshrc'
alias ohmyzsh='mate ~/.oh-my-zsh'
alias icon='sudo killall -s SIGINT com.apple.quicklook.ThumbnailsAgent && sudo killall -s SIGINT Dock'
