### SSH SERVER LINKS ###
alias doc='ssh evgeny@doc.evgn.ru'                                              ## DOC
alias prh='ssh root@prh.su'                                                     ## PRH
alias evgn='ssh evgeny@evgn.ru'                                                 ## EVGN
alias cloud='ssh evgeny@cloud.kushnaren.co'                                     ## CLOUD
alias bot='ssh evgeny@bot.kushnaren.co'                                         ## BOT
alias nas='ssh -oKexAlgorithms=+diffie-hellman-group1-sha1 root@192.168.50.11'  ## NAS
alias wig='ssh evgeny@wg.kushnaren.co'                                          ## WIG
alias kus='mosh evgeny@kushnaren.co'                                             ## KUS
alias ofc='ssh evgeny@office.evgn.ru'                                           ## OFC
alias test='mosh evgeny@test.evgn.ru'						## TEST

### OPERATION ###
alias r="clear && archey -l retro && source ~/.zshrc"                           ## R - reset
alias e="exit"                                                                  ## E - exit
alias c="clear && conda deactivate && source deactivate && clear"               ## C - clear && Conda deactivate
alias cpyf='copyfile'								## CP - Copy File to clipboard
alias cpyp='copypath'								## CPYP Copy Path to clipboard

### WINDOW MANIPULATION ###
alias vs='vsplit_tab'                                                           ## VS - Vertical Split tab
alias hs='split_tab'                                                            ## HS - Horizontal Split tab

### SNIPPETS ###
alias chat="open -a Whatsapp && open -a Whatsapp2 && open -a 'Telegram Z' && open -a 'Telegram Z2'"

alias spd="speedtest && networkQuality"
alias upd="cfonts 'UPD START' -f block -g blue,red && /Applications/MacUpdater.app/Contents/Resources/macupdater_client scan && /Applications/MacUpdater.app/Contents/Resources/macupdater_client update --force-quit-running-apps && cd ~ && bubu && softwareupdate -i -a && omz update && cfonts 'UPD FINISH' -f block -g red,blue"
alias lcl='colorls -lA --sd'
alias lc='colorls --sd'
alias lca='colorls -A --sd'
alias lcr='colorls --report --sd'
alias lcg='colorls -lA --sd --gs'
alias ycs3='aws s3 --endpoint-url=https://storage.yandexcloud.net'
alias duh='du -sh *'
alias ip='dig +short myip.opendns.com @resolver1.opendns.com'
alias ping5='ping -c5'
alias path='echo | pwd | pbcopy'
alias q='logout'
alias ..='cd ..'
alias t='tmuxinator'
alias dns='sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder'

### SOFTWARE ###
alias yl='jupyter-lab'								                                                ## YL - Yupiter Lab
alias sd='open -a Invoke-AI && cd ~/Files.localized/AI/InvokeAI/ && ./start-web.sh'                 ## SD - Stable Diffusion start

### MISC ###
alias ccat='pygmentize -g -O style=github-dark,linenos=1'
alias getalias='wget -O ~/.aliases https://evgn.ru/za && r && print ALIASES UPDATED'
alias aliasls='ccat ~/.aliases | grep alias'
alias zshconfig='mate ~/.zshrc'
alias ohmyzsh='mate ~/.oh-my-zsh'
alias icon='sudo killall -s SIGINT com.apple.quicklook.ThumbnailsAgent && sudo killall -s SIGINT Dock'
alias dsstore='find . -name ".DS_Store" -print -delete'

### PYTHON ###
alias act='source venv/bin/activate'
alias dact='deactivate'

### GIT ###
alias gcos='git add -A && git commit -m "Message"'                                                  ## GCOS Git add all & Git commit
alias gpush='git push origin main'                                                                  ## GPUSH Git push origin main
alias gg='gcos && gpush'                                                                            ##GG Gcos + Gpush
